#contact
{
	height: 70%;
	width: 50%;
	margin: 0 auto;
	padding-top: 2.5%;
	padding-bottom: 5%;
	color:black;
	text-align: center;
}

.contact-info
{
	color:black;
	text-align: center;
	font-style: italic;
	font-weight: bold;
	font-size: 1vw;
}

.contact-info a
{
}

#freelance
{
	text-align: center;
	font-weight: bold;
	font-size: 1.25vw;
	color:white;
}

.contact-container
{
	padding-top: 2vh;
	width:100%;
	background-color: white;
	color:black;
	font-size: 1vw;
}

#contact-form
{
	width:90%;
	text-align: center;
	margin: 2%;
	font-size: 1vw;
}

#inp-name
{
	float:left;
	width:49%;
	margin-bottom: 1vh;
}

#inp-email
{
	float:right;
	width:49%;
	margin-bottom: 1vh;
}

#inp-subject
{
	width:100%;
	margin-bottom: 1vh;
}

#inp-message
{
	width:100%;
	height: 50%;
	padding:0;
	resize: none;
	overflow:hidden;
}

#submit-butt
{
	background-color: black;
	border-style:none;
	border-radius:5px;
	color: 	white;
	width: 20vw;
	height: 5vw;
	font-size: 2vw;
	font-weight: 'bold';
	margin-top: 3vh;
}

#submit-butt:hover
{
	background-color: white;
	color:black;
	cursor:pointer;
	border-style: solid;
	border-width: 1px;
	border-color: black;
}

.info-container
{
	width:100%;
	background-color: white;
	color:black;
	font-size: 1vw;
	font-weight: 'bold';
	margin:0;
}

.details
{
	margin: 0 auto;
	width: 20%;
}

.details p
{
	display:inline;
}

.details-img
{
	display:inline;
	width: 1vw;
	height: 1vw;
}
