#stats
{
	width: 20%;
	display: inline-block;
	margin-left: 15%;
}

#chart
{
	width: 90%;
	height: auto;
	display:block;
}

#megif
{
	width: 90%;
	height: auto;
	display:block;
}

.intro-container
{
	width:100%;
	background-color: #ffffff;
	color:black;
	font-size: 1vw;
}

.intro
{	
	display:inline-block;
	background-color:#ffffff;
	width: 55%;
	overflow-wrap: normal;
}

.title
{
	text-align:center;
	margin: 1% auto;
	color: black;
	font-size: 3vw;
	transition: ease 0.5s;
}

#intro .title
{
	color: #fac311;
}

#dummy
{
	width: 5%;
	height: auto;
	margin: 0 auto;
}

.intro a
{
	width: 5%;
}

