
.intro-container
{
	width:100%;
	background-color: #ffffff;
	color:black;
	font-size: 1vw;
}

.intro
{	
	text-align:center;
	background-color:#ffffff;
	margin: 0 auto;
	width: 65%;
}

.title
{
	text-align:center;
	margin: 1% auto;
	color: black;
	font-size: 3vw;
	transition: ease 0.5s;
}

#intro .title
{
	color: #fac311;
}

