@media screen and (orientation: portrait)
{	
	.projects-container
	{
		font-size: 1.4vw;
	}

	.project p
	{
		font-size: 1.1vw;
	}

	.project
	{
		width: 45%;
		height: 40vw;
		margin: 2.5% auto;
	}

	#profilepic
	{
		width: 13.5%;
		top: 2.2%;
		left: 2.4%;
	}

	#pixelpic
	{
		width: 18.75%;
		top: 0%;
		left: 0%;
	}
}

@media screen and (orientation: landscape)
{	
	.projects-container
	{
		font-size: 0.85vw;
	}

	.project p
	{
		font-size: 0.75vw;
	}

	.project
	{
		width: 29.5%;
		height: 25vw;
		margin: 1% auto;
	}

	#profilepic
	{
		width: 9%;
		top: 3.5%;
		left: 1.6%;
	}

	#pixelpic
	{
		width: 12.5%;
		top: 0%;
		left: 0%;
	}
}