@media screen and (orientation: portrait)
{	
	.projects-container
	{
		font-size: 1.4vw;
	}

	.project p
	{
		font-size: 1.1vw;
	}

	.project
	{
		width: 45%;
		height: 40vw;
		margin: 2.5% auto;
	}

	.projects img
	{
		width: 30vw;
		height: 15vw;
	}

	.website
	{
		height: 25vw;	
	}

	#profilepic
	{
		width: 13.5%;
		top: 2.2%;
		left: 2.4%;
	}

	#pixelpic
	{
		width: 18.75%;
		top: 0%;
		left: 0%;
	}

	.game-title
	{
		font-style: italic;
		font-weight:bold;
		color: #b71011;
		text-align:center;
		font-size: 2vw;
	}
}

@media screen and (orientation: landscape)
{	
	.projects-container
	{
		font-size: 0.85vw;
	}

	.project p
	{
		font-size: 0.75vw;
	}

	.project
	{
		width: 29.5%;
		height: 25vw;
		margin: 1% auto;
	}

	.projects img
	{
		width: 20vw;
		height: 10vw;
	}

	.website
	{
		height: 17.5vw;	
	}

	#profilepic
	{
		width: 9%;
		top: 3.5%;
		left: 1.6%;
	}

	#pixelpic
	{
		width: 12.5%;
		top: 0%;
		left: 0%;
	}

	.game-title
	{
		font-style: italic;
		font-weight:bold;
		color: #b71011;
		text-align:center;
		font-size: 2vw;
	}
}