.projects
{	
	width:100%;
	margin-left: 0;
	background-color: white;
	text-align:center;
}

.projects-container
{
	width:100%;
	background-color: white;
	font-size: 1vw;
}

.projects img
{
	display:block;
	margin: 0 auto;
}

.projects video
{
	display:block;
	height: auto;
	width: 60%;
	margin: 0 auto;
	border-radius: 10px;
}

.youtubecontainer
{
	position: relative;
	margin: 0% auto;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
}

.gamebadge
{
	width: 25%;
	height: auto;
	margin: 0 auto;
}

.gamebadge img
{
	width: 25%;
	height: auto;
	margin: 0 auto;
	margin-top: 2%;
}

.youtubevideo
{
	position:absolute;
	top: 0;
	left: 0;	
	width: 90%;
	height: 90%;
	margin-left: 5%;
	margin-top: 5%;
	margin-bottom: 5%;
	border-radius: 10px;
	padding: 0;
}


.googleplay img
{
	width: 25%;
	height: auto;
	margin-right: 0 auto;
}

.game-title
{
	font-style: italic;
	font-weight:bold;
	color: #b71011;
}

.project
{
	background-color: #E8E8E8;
	vertical-align: top;
	width: 65%;
	display:inline-block;
	border-radius: 10px;
	padding: 1% 1%;
	margin: 1% auto;
}

.project p
{
	margin-left: 5%;
	width: 90%;
	line-height: 1.5;
}

#unityContainer
{
	position: relative;
	margin: 0% auto;
	width: 60vw;
	height: 37.5vw;
}

.webgl-content
{
	position: relative;
	margin: 0% auto;
	width: 100%;
}

#cover
{
	width: 85%;
	height: auto;
}
