footer
{
	background-color: #F15F78;
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 3;
}

.socialmedia
{
 	width: 20%;
 	height: auto;
    display:inline-block;
	border: none;
	background: none;
	height: auto;
	cursor: pointer;
	margin-left: 6.5%;
	margin-top: 1%;
	padding: 0;
	/*border-radius: 4px;
	box-shadow: 1px 1px 5px 1px #49242F;
	 -webkit-transition: border-radius .5s, background-color .5s; /* Safari */
  	transition: border-radius .5s, background-color .5s;
}

.socialmedia img
{
	width: 100%;
	height: auto;
}

/*.socialmedia:hover
{
	border-radius: 50px;
	background-color: #F9768C;
	box-shadow: 1px 1px 5px 1px #49242F;
}*/

#socialbuttons
{
	width: 25%;
	height: auto;
	margin: 1% auto;
}

.#socialbuttons a
{
	display:inline-block;
}

/*#GHButt:hover #GHIcon
{
	content:url("../images/GitHubIcon.png");
}

#TwitterButt:hover #TwitterIcon
{
	content:url("../images/TwitterIcon.png");
}

#InstaButt:hover #InstaIcon
{
	content:url("../images/InstagramIcon.png");
}

#YTButt:hover #YTIcon
{
	content:url("../images/YoutubeIcon.png");
}*/

