#megif
{
	width: 18%;
	height: auto;
	display:inline-block;
	margin: 0 0;
	margin-top: 5%;
	position: fixed;
}

.box-container-container
{
	vertical-align:top;
	width:60vw;
	height: 30vw;
	background-color: white;
	display:block;
	padding: 0;
	margin: 1% auto;
}


.box-container{
	display:inline-block;
	z-index:2;
	top: 25%;
	left: 50%;
	width:100%;
	height:100%;
	margin: 0;
}

.box
{
	border: 0px solid black;
	height: 5%;
	width: 2.5%;
	margin:0px;
	padding:0px;
	float:left;
	background-color: #ff69b4;
}

.messageBox
{
	border: 0px solid black;
	height: 5%;
	width: 2.5%;
	margin:0px;
	padding:0px;
	float:left;
	background-color: #00ffff;
}

.coloredBox
{
	background-color: #00ffff;
	/*background-color: #dfbf9f;*/
	/*opacity: 0;*/
}

.coloredMessageBox
{
	background-color: #ff69b4;
	/*opacity: 0;*/
}
